/***  ***/
#comiclist i.fa{
	-webkit-text-stroke: 2px white;
}

/***  ***/
.dataTables_wrapper{
	padding-bottom: 1em;
}
.dataTable tbody tr,
.dataTable tbody tr .img-responsive{
	cursor: pointer;
	height: 60px;
}
table.dataTable tbody td .picture{
	margin-top: -6px;
	margin-bottom: -6px;
}
.dataTable .picture a.small, 
.dataTable .picture a.small:visited{ 
	border: 0;
	display: block; 
	left: 0; 
	max-height: 60px; 
	top: 0; 
}
.dataTable .picture a img{
	border: 0;
}
.dataTable .picture a .large{
	border: 0; 
	display: block; 
	height: 0; 
	left: 0;
	top: 0; 
	width: 0; 
}
.dataTable .picture a.small:hover .large{
	border: 2px solid black;
	display: block; 
	height: auto; 
	left: 5%; 
	max-height: 80%;
	position: fixed; 
	top: 100px; 
	width: auto; 
}
tbody tr input.issue,
tbody tr input.volume{
	width: 4em;
}
tbody tr input.chrono{
	width: 5em;
}
tbody tr input.grade,
tbody tr input.collection{
	width: 6em;
}
tbody tr select.grade{
	width: 8em;
}
tbody tr select.collection{
	width: 10em;
}
tbody tr input.series,
tbody tr input.notes{
	width: 18em;
}
tbody tr select.series,
#issues-by-series,
tbody tr input.series_name{
	width: 20em;
}
tbody tr input.description{
	width: 30em;
}

/*** details ***/
.details{
	padding-bottom: 1em;
	padding-top: 1em;
}
.details .image-border{
	border: black 2px solid;
	border-radius: 3px;
	float: right;
	margin-bottom: 4px;
	margin-right: 16px;
	/* this makes the size of the container fit all the contents */
	overflow: hidden;/* hides the scrollbars but keeps the size of the block */
/*	min-height: 1%;
	min-width: 1%;*/
}
.details .image-border img{
	position: relative;
	/*padding: 4px;*/
}
.details .collection{
	color: #ABABAB;
	margin-bottom: 0;
}
.details span.smaller{
	color: #ABABAB;
	font-size: medium;
}
.details .comicvine-link a{
	color: #aaa;
}
.details .comicvine-link:hover{
	color: black;
}
.details .comicvine-link a:hover{
	color: black;
	text-decoration: none;
}
.details table{
	margin-top: 12px;
}
.details .list-header{
	font-size: x-large;
	text-align: center;
}
.details .creators .table-left-column{
	text-align: right;
}
.details .creators .table-right-column{
	padding-left: 8px;
	text-align: left;
}
.details .characters .table-left-column{
	padding-right: 16px;
	text-align: left;
}
.details .characters .table-right-column{
	padding-left: 16px;
	text-align: right;
}
.details .issue-title{
	padding-top: 12px;
}

/***  ***/
.inline-input{
	display: inline-block;
}
select{
	/* make selects the same size a text-inputs */
	height: 34px;
	width: 206px;
}
.add-header{
	padding-top: 8px;
}

/*** addIssues ***/
#addIssuesTable td{
	padding: 6px;
}
#addIssuesTable thead td,
#addIssuesTable tfoot td{
	padding: 0;
	text-align: center;
}
#addIssuesForm{
	padding-bottom: 1em;
}
#addIssuesForm .btn{
	/*float: right;*/
	margin-right: 1em;
}
.success-cover{
	display: inline-block;
	margin-right: 3px;
}
.success-cover .large{
	/*display: block;*/ 
}
.success-cover .small:hover .large{
	border: 2px solid black;
	display: block; 
	height: auto; 
	left: 5%; 
	max-height: 80%;
	position: fixed; 
	top: 105px; 
	width: auto; 
}

/*** addSeries ***/
.addseries-explain{
	color: red;
	font-size: smaller;
	margin-right: 35%;
	padding: 1em;
}

/*** grading page ***/
#grading-page{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}
#grading-page .img-container figcaption{
	margin: 10px 0 0 10px;
}
#grading-page .img-container figure{
	padding: 5px;
}
#grading-page .img-container{
	width: 350px;
    text-align: center;
}
#grading-page .img-container a, figure{
    display: inline-block;
}

/***  ***/
.action-buttons{
	margin-bottom: 1em;
	margin-top: 1em;
}
.btn-above-table{
	float: right;
	margin-bottom: 1em;
	/*padding-top: 0.5em;*/
}
.btn-above-table .btn-primary{
	margin-right: 1em;
}
dropdown-above-table{
	float: left;
	margin-right: 2em;
}
